apiVersion: apps/v1
kind: Deployment
metadata:
  name: dgs-srv
  labels:  # this label is used for deployment itself, we can use this label to delete deployment
    app: dgs
spec:
  replicas: 3
  minReadySeconds: 5
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  selector:   # spec.selector 指定这个 rc 管理哪些 pod. 带有 label 的对象创建好之后，就可以通过 label selector 来引用这些对象
    matchLabels:
      app: dgs
  template:
    metadata:
      labels:  # spec.template.metadata.labels 为 pod 打上 label
        app: dgs
      annotations:
        tke.cloud.tencent.com/networks: "tke-route-eni"
    spec:
      containers:
        - name: dgs
          image: hkccr.ccs.tencentyun.com/tke_cluster/tke_cluster
          imagePullPolicy: Always
          ports:
            - containerPort: 8888
              protocol: UDP
      imagePullSecrets:
        - name: regcred
      restartPolicy: Always
      nodeSelector:
        environment: dev